/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	flex-flow: column;
}
/*
@@media screen and (min-width: 600px) {
	container{
		flex-flow: row;
	}
	,item-1 {
		order: 1;
	}
}

} */

/* .item-2 {
	order: -1;
}

.item-3 {
	order: -2;
}

.item-6 {
	order: 1;
}
 */
